# Environment & secrets
.env
*.env

# Database backup (chỉ dùng khi migrate)
data_backup.json
backup.json
backup2.json
backup*.json
backup*.sql
*.sql
*.dump

# SQLite (không cần nếu đã dùng PostgreSQL)
db.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
media/

# Virtual environment
venv/
env/
.venv/
